
body {
  background-color: #2C3E50;
  background-size: cover;
}

.mainHeader {
  text-align: center;
  color: #ECF0F1;
  font-size: 88px;
  font-family: 'Russo One', sans-serif;
  font-weight: lighter;
}

.gamePlaceholder {
  text-align: center;
  border: solid 2px #e74c3c;
  background-color: #e74c3c;
  border-radius: 30%;
  margin: 0 auto;
  height: 650px;
  width: 650px;
}

.placeholderText {
  font-family: 'Russo One', sans-serif;
  text-align: center;
  color: white;
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
  padding: 250px 0;
  border: solid 2px green;
  background-color: green;

}
