
body {
  background-image: url('http://hdwall.us/wallpaper_800x1280/abstract_grayscale_best_widescreen_background_awesome_desktop_1920x1080_hd-wallpaper-1330487.jpg');
  background-size: cover;
}

.mainHeader {
  text-align: center;
  color: #ccc;
  font-size: 88px;
  font-family: 'Orbitron', sans-serif;
}

.gamePlaceholder {
  text-align: center;
  border: solid 2px orange;
  background-color: black;
  border-radius: 30%;
  margin: 0 auto;
  height: 650px;
  width: 650px;
}

.placeholderText {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  color: white;
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
  padding: 250px 0;
  border: solid 2px green;
  background-color: green;

}
